* {
  background-color: yellow;
}
img {
  background-image: url("./../assets/Form-Hero-Image.jpg");
  width: 200px;
  height: 200px;
}
.ozdoba {
  width: 10vw;
  height: 10vh;
  background-image: url("./../assets/Decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
}
