* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1024px;
  margin: auto;
}
@import "./HomeHeader.scss";
@import "./Statistic.scss";
@import "./FourSteps.scss";
@import "./variables.scss";
@import "./AboutUs.scss";
@import "./OurMission.scss";
@import "./FormFooter.scss";
